<div>
  <h1>API Key Registration</h1>
  <p>Thank you for taking interest in the Chinooks Playlist API.
    Please note your unique API key below.</p>
  <p>Note that this is the only time you'll be given your key. You cannot recover your key if lost.</p>


  <%= params[:api_key] %>
</div>